@model PagedList.IPagedList<Model.EntityFramework.BAIDANG>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

    var postrelative = (List<Model.EntityFramework.BAIDANG>)ViewBag._k_relative;

    var vbtentheloai = (List<Model.EntityFramework.THELOAI>)ViewBag.vbtentheloai;
}



@section pagetitle{
    @foreach (var item in vbtentheloai)
    {
        <title>BMMN - @item.TenTheLoai</title>
    }
    
}


<div class="content_bottom">
    <div class="col-lg-8 col-md-8">
        <!-- start content bottom left -->

        <div class="content_bottom_left">

            @foreach (var item in vbtentheloai)
            {
                <div class="cl-content-left">
                    <div class="_tit_search" style="color: #444">
                        <span>
                            @item.TenTheLoai
                        </span>
                    </div>
                </div>
            }



            <!--____________________________________________________ Tình yêu -->
            <div class="single_category wow fadeInDown">

                @foreach (var item in Model)
                {
                    <div class="business_category_left wow fadeInDown animated">
                        <ul class="fashion_catgnav">
                            <li>
                                <div class="catgimg2_container">
                                    <a href="/doc-bao/@item.UrlRequire-@item.IDBaiDang"><img alt="img" src="@item.AnhDaiDien"></a>
                                </div>
                                <h2 class="catg_titile"><a href="/doc-bao/@item.UrlRequire-@item.IDBaiDang">  @item.TenBaiDang</a></h2>
                            </li>
                        </ul>
                    </div>
                }

            </div>@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchstring }))
        </div>
    </div>



    <div class="col-lg-4 col-md-4">
        <div class="content_bottom_right">
            <!-- start single bottom rightbar -->
            <div class="single_bottom_rightbar">
                <h2>MOST VIEWED POSTS</h2>
                <ul class="small_catg popular_catg wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    @foreach (var item in postrelative)
                    {
                        <li>
                            <div class="media wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                                <div class="img_post_right">
                                    <a href="/doc-bao/@item.UrlRequire-@item.IDBaiDang" class="media-left">
                                        <img alt="img" src="@item.AnhDaiDien">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#"> @item.TenBaiDang</a></h4>
                                    <p> @item.TieuDe</p>
                                </div>
                            </div>

                        </li>}
                </ul>
            </div>

        </div>
    </div>
</div>
