@model PagedList.IPagedList<Model.EntityFramework.BAIDANG>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    QUẢN LÝ BÀI ĐĂNG
}
<div class="=row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    DANH SÁCH BÀI ĐĂNG CHỜ DUYỆT
                </h4>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                @using (Html.BeginForm("PostWaiting", "PostManager", FormMethod.Get))
                {
                    <div class="row" style="padding-bottom: 10px!important">
                        <div class="col-lg-8">
                            <div class="input-group margin">
                                <input type="text" class="form-control" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập tên, tiêu đề bài đăng để tìm kiếm...">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-flat" type="submit">Tìm</button>
                                </span>
                            </div>
                        </div>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Tên bài đăng</th>
                                <th>Ảnh đại diện</th>
                                <th>Ngày đăng</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.IDBaiDang">

                                    <td class="tb_tenbanghi">
                                        @item.TenBaiDang
                                    </td>
                                    <td>
                                        <img style="width:60px;height:auto" src="@item.AnhDaiDien" class="img__lpost" alt=" alternate text" />
                                    </td>
                                    <td>@Convert.ToDateTime(@item.NgayDang).ToShortDateString()</td>
                                    <td> @item.TrangThaiBaiDang.ToUpper()</td>
                                    <td>
                                        <a href="/Admin/PostManager/Preview/@item.UrlRequire-@item.IDBaiDang" class="clink_llll">
                                            Duyệt</a>|
                                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.IDBaiDang }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có chắc chắn muốn xóa bản ghi?",
                                       OnComplete = "$('#row_" + @item.IDBaiDang + "').fadeOut(300)",
                                       HttpMethod = "Delete"
                                   }
                                       , new {  @class = "clink_rrrr", @title = "Xóa bài đăng này", area = "Admin" })
</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("PostWaiting", new { page, @searchString = @ViewBag.searchstring }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
